#envelope{
  position: absolute;
  top: 35em;
  left: 42%;
  width: 20em;
  height: 20em;
  animation: envy-move 5s linear;
}

body{
  background-image: url("emailback.png");
}

h1{
  font-family: dico-code-two;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 7.4em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.move{
  width: 8em;
  height: 3em;
  position: absolute;
  animation: back-ani 5s linear infinite;
  left: 42.5%;
  top: 37%;
  font-size: 35px;
  color: white;
  font-family: condor, sans-serif;
  border: none;
  text-shadow: 2px 2px black;
  cursor:  pointer;
}

.but{
  position: absolute;
  left: 46.5%;
  top: 40%;
  font-size: 35px;
  color: white;
  font-family: dico-code-two;
  border: none;
  text-shadow: 2px 2px black;
}

#left{
  animation: left-leg 5s linear;
  transform-origin: top;
}

#right{
  animation: right-leg 5s linear;
  transform-origin: top;
}

@keyframes back-ani {
  0%   {background-color:#e01600;}
  25%  {background-color:#fcba03;}
  50% {background-color:#0aa8fc;}
  100%   {background-color:#e01600;}
}

@keyframes left-leg{
  0% {transform: rotate(0deg);}
  10% {transform: rotate(5deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(5deg);}
  40% {transform: rotate(0deg);}
  50% {transform: rotate(5deg);}
  60% {transform: rotate(0deg);}
  70% {transform: rotate(5deg);}
  80% {transform: rotate(0deg);}
  90% {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes right-leg{
  0% {transform: rotate(0deg);}
  10% {transform: rotate(-5deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(-5deg);}
  40% {transform: rotate(0deg);}
  50% {transform: rotate(-5deg);}
  60% {transform: rotate(0deg);}
  70% {transform: rotate(-5deg);}
  80% {transform: rotate(0deg);}
  90% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
@keyframes envy-move{
  0% {left: -10%;}
  60%{ left: 42%;
        top: 35em;}
  65%{ left: 42%;
        top: 31em;}
  70%{ left: 42%;
        top: 35em;}
  75%{ left: 42%;
        top: 31em;}
  80%{ left: 42%;
        top: 35em;}
  85%{ left: 42%;
        top: 31em;}
  90%{ left: 42%;
        top: 35em;}
  95%{ left: 42%;
        top: 31em;}
  100% {left: 42%;
        top: 35em;}
}


@media all and (max-width: 119em){
  h1 { margin-left: 6em;
        margin-right: 6em;
      font-size: 2em;}
}
@media all and (max-width: 90em){
  h1 { margin-left: 3em;
        margin-right: 3em;
      font-size: 2em;}
}
@media all and (max-width: 77em){
  h1 { margin-left: 2em;
        margin-right: 2em;
      font-size: 2em;}
  .move{ top: 20%;
        left: 35%;}
  .but{ top:23%;
        left: 37%;}
}
@media all and (max-width: 55em){
  h1 { margin-left: 1em;
        margin-right: 1em;
      font-size: 2em;}
  .move{ top: 22%;
        left: 35%;}
  .but{ top:25%;
        left: 37%;}
}
@media all and (max-width: 40em){
  h1 { margin-left: 1em;
        margin-right: 1em;
      font-size: 2em;}
  .move{ top: 31%;
        left: 28%;}
  .but{ top:34%;
        left: 30%;}
}
