h1{
  font-size: 80px;
  margin: 40px;
}

h2{
  border-bottom-style: groove;
  border-bottom-width:medium;
  margin-left: 425px;
  margin-right: 425px;

}
body{
font-family: 'Raleway';
  text-align: center;
  color: white;
  font-size: 30px;
  background-image: url('background.jpg');
  margin-bottom: 50px;
}

a{
  color: black;
  background: rgb(228,185,27);
  background: radial-gradient(circle, rgba(228,185,27,1) 0%, rgba(107,230,255,1) 100%);
}

a:hover{
  background: rgb(228,185,27);
background: linear-gradient(90deg, rgba(228,185,27,1) 0%, rgba(107,230,255,1) 50%, rgba(228,185,27,1) 100%);
}
